click
numpy
scipy
scikit-learn
pandas
h5py
pytest
netcdf4
xarray
methodtools
param
joypy
Boruta
umap_learn
lightgbm
matplotlib[interactive]
bokeh[interactive]
holoviews[interactive]
datashader[interactive]
jupyter[interactive]
panel[interactive]
