// Singular data input and selection.
params.gem_netcdf = "${GSFORGE_DEMO_DATA}/osfstorage/oryza_sativa/AnnotatedGEMs/oryza_sativa_hisat2_hydro_raw.nc"
params.x_label = "counts"
params.y_label = ["Treatment", "Genotype", "Subspecies"]

// Ranking model options.
params.ranking_model = "RandomForestClassifier"
params.ranking_model_opts.max_depth = [3, 4, 5, 6, 7]
params.ranking_model_opts.n_jobs = [-1]

// BorutaPy options.
params.boruta_opts.perc = [95, 100]
params.boruta_opts.max_iter = [200]

// How often to repeat each set of arguments.
params.repeats = 2

// Output directory.
params.out_dir = "${GSFORGE_DEMO_DATA}/osfstorage/oryza_sativa/GeneSetCollections/nf_boruta"
