// Data input and selection.
params.gem_netcdf = '/home/tyler/GEMprospector_demo_data/osativa.nc'
params.x_label = "counts"
params.y_label = ["Treatment"]


params.boruta_opts.max_iter = [10]


// nextflow run main.nf -p test docker standard

// https://github.com/SystemsGenetics/GEMprospector/tree/master/workflows/boruta_multiclass

// SystemsGenetics/GEMprospector/workflows/boruta_multiclass

// nextflow /home/tyler/github/gemprospector/workflows/boruta_multiclass/main.nf -profile test,docker,standard
