params {
    input {
        dir = "/scidas/osativa_heat_drought/02-create_GEM/06-GEMmaker-infield-kallisto/output/GEMs"
        emx_txt_files = "Osativa_heat_drought_PRJNA297424.GEM.raw.txt"
    }

    output {
        dir = "output"
    }

    import_emx {
        enabled = true
    }

    similarity {
        enabled = true
        chunkrun = true
        chunks = 10
        gpu_model = "1"
        threads = 1
        clus_method = "none"
        corr_method = "spearman"
        min_expr = 0
        min_clus = 1
        max_clus = 5
        criterion = "ICL"
        preout = true
        postout = true
        min_corr = 0.5
        max_corr = 1
        bsize = 0
        gsize = 4096
        lsize = 32
    }

    export_cmx {
        enabled = false
    }

    threshold_constant {
        enabled = false
        threshold = 0.5
    }

    threshold_rmt {
        enabled = true
        reduction = "first"
        threads = 1
        spline = true
    }

    extract {
        enabled = true
    }
}